.App {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 125px repeat(3, auto);
    grid-row-gap: 10px;
    font-family: "Avenir Next";
  }
  
  .parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  background-image {
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 0px;
  }
  
  .header {
    grid-column: 3/span 4;
    grid-row: 1/2;
    text-align: center;
    background-color: white;
    /* opacity: 0.95; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .searchDiv {
    grid-row: 2/3;
    grid-column: 4/span 2;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 5px;
    background-color: white;
    opacity: 0.95;
  }
  
  #searchWord {
    border-bottom: 1px solid lightgray;
  }
  
  .resultsDiv {
    grid-row: 3/4;
    grid-column: 3/span 4;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 5px;
    opacity: 0.95;
  }
  
  #resultsWord {
    border-bottom: 1px solid lightgray;
  }
  
  .savedDiv {
    grid-row: 4/5;
    grid-column: 2/span 4;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }
  
  #savedWord {
    border-bottom: 1px solid black;
  }